#preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9) url('../img/282.gif') 50% 50% no-repeat;
	display: none;
}
li:hover{
	color: navy;
	cursor: pointer;
}
li{
	display: block;
	margin-bottom: 5px;
}
.wrapper{
	display: flex;
}
.pokemonsList{
	width: 20%;
}
.aboutPokemon{
	line-height: 20px;
	margin-top: 10px;
}
